package config

// The config parameters for testing.

// Server
const (
	HttpPort = "8642"
	GrpcPort = "7531"
)

// GORM
const (
	Source               = "postgres"
	SourceUser           = "root"
	SourcePassword       = "root"
	SourceHost           = "127.0.0.1"
	SourcePort           = "5432"
	SourceDataBase       = "test_db"
	SourceSSLMode        = "disable"
	SourceDBConnMaxLTSec = 1800
	SourceMaxConn        = 50
	SourceMaxIdle        = 5

	AWSSourceUser     = ""
	AWSSourcePassword = ""
	AWSSourceHost     = ""
	AWSSourceDataBase = "go_todolist_grpc"
	AWSSourceSSLMode  = "verify-full"
)

// Redis
const (
	RedisPort = "6379"
)

// JWT
const (
	BcryptCost   = 14
	JwtSecretKey = "goToDoListgRPC"
	JwtTtl       = 1440
)

// Log
const (
	LogLevel            = 3
	LogFolderPath       = "./target/log/"
	EnableConsoleOutput = true
	EnableFileOutput    = true
)
