package config

// Server
const (
	HttpPort = "8642"
	GrpcPort = "7531"
)

// Gorm
const (
	Source               = "postgres"
	SourceUser           = "root"
	SourcePassword       = "root"
	SourceHost           = "127.0.0.1"
	SourcePort           = "5432"
	SourceDataBase       = "go-todolist-grpc-db"
	SourceDBConnMaxLTSec = 1800
	SourceMaxConn        = 50
	SourceMaxIdle        = 5
)

// For testing
const (
	TestSourceDataBase = "test_db"
)

// JWT
const (
	BcryptCost   = 14
	JwtSecretKey = "goToDoListgRPC"
	JwtTtl       = 1440
)

// Log
const (
	LogLevel            = 3
	LogFolderPath       = "./target/log/"
	EnableConsoleOutput = true
	EnableFileOutput    = true
)
